:root {
    --MediumSeaGreen:
    --Darkblue:00008b;

    {
       ::section
       background-color:brown
       }


}
body
{
    display:flex: flex-direction; column;10px inline-height- 2.0



}

    <head>
     <background-color="pink"></background-color>
    <h1
    flex-direction: column;
    input type="submit" visibility: visible;
    width:10px;
    height:10px;    
    background:red;

  background-color:blueviolet

  style="background-color:green;"
    
    flex-direction: column;
    

h2
p{
my background-image: display: height: width: ;;;
    background-color:red; 
}

{style="color:aqua; background-color: green;"> 
input[type=text]}
    padding: 25px;
    border: 15
